<app-premier-header></app-premier-header>
<app-main-nav></app-main-nav>
<main class="content" role="main" aria-labelledby="titulo-politicas">
  <h1 id="titulo-politicas">Política de Privacidad</h1>

  <section>
    <p>
      En <strong>Premier League Master</strong> nos comprometemos a proteger su
      privacidad. Esta política de privacidad explica cómo recopilamos, usamos y
      protegemos su información personal cuando utiliza nuestros servicios.
    </p>
  </section>

  <section>
    <h2>Recopilación de Información</h2>
    <p>
      Recopilamos información personal cuando se registra en nuestro sitio, se
      suscribe a nuestro boletín o interactúa con nuestros servicios. Esta
      información puede incluir su nombre, dirección de correo electrónico, entre
      otros.
    </p>
  </section>

  <section>
    <h2>Uso de la Información</h2>
    <p>
      Utilizamos la información personal para proporcionarle servicios, enviarle
      actualizaciones y comunicarnos con usted sobre nuestro sitio y sus
      servicios. No compartimos su información personal con terceros, salvo que
      sea necesario para cumplir con la ley.
    </p>
  </section>

  <section>
    <h2>Seguridad</h2>
    <p>
      Tomamos medidas de seguridad razonables para proteger su información
      personal. Sin embargo, ningún sistema de transmisión de datos por Internet
      es completamente seguro, por lo que no podemos garantizar la seguridad
      absoluta.
    </p>
  </section>

  <section>
    <h2>Cambios a esta Política</h2>
    <p>
      Nos reservamos el derecho de actualizar esta política de privacidad en
      cualquier momento. Le informaremos sobre cualquier cambio publicando una
      nueva versión en esta página.
    </p>
  </section>

  <section>
    <h2>Contacto</h2>
    <p>
      Si tiene alguna pregunta sobre nuestra política de privacidad, por favor,
      contáctenos a través de la sección
      <a routerLink="/contacto">Contacto</a>.
    </p>
  </section>
</main>

<app-footer></app-footer>